<ion-header [translucent]="true">
  <ion-toolbar class="head">
    <ion-title>
      <center><h1>Gallery</h1></center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="gallery">
      <a target="_blank">
        <img src="assets/img/1.jpg" alt="Couldn't load image" width="600" height="400">
      </a>
  </div>
  <div class="gallery">
    <a target="_blank">
      <img src="assets/img/2.jpg" alt="Couldn't load image" width="600" height="400">
    </a>
</div>
<div class="gallery">
  <a target="_blank">
    <img src="assets/img/3.jpg" alt="Couldn't load image" width="600" height="400">
  </a>
</div>
<div class="gallery">
  <a target="_blank">
    <img src="assets/img/4.jpg" alt="Couldn't load image" width="600" height="400">
  </a>
</div>
<div class="gallery">
  <a target="_blank">
    <img src="assets/img/5.jpg" alt="Couldn't load image" width="600" height="400">
  </a>
</div>
<div class="gallery">
  <a target="_blank">
    <img src="assets/img/6.jpg" alt="Couldn't load image" width="600" height="400">
  </a>
</div>
<div class="gallery">
  <a target="_blank">
    <img src="assets/img/7.jpg" alt="Couldn't load image" width="600" height="400">
  </a>
</div>
<div class="gallery">
  <a target="_blank">
    <img src="assets/img/8.jpg" alt="Couldn't load image" width="600" height="400">
  </a>
</div>
<div class="gallery">
  <a target="_blank">
    <img src="assets/img/9.jpg" alt="Couldn't load image" width="600" height="400">
  </a>
</div>
<div class="gallery">
  <a target="_blank">
    <img src="assets/img/10.jpg" alt="Couldn't load image" width="600" height="400">
  </a>
</div>
<div class="gallery">
  <a target="_blank">
    <img src="assets/img/11.jpg" alt="Couldn't load image" width="600" height="400">
  </a>
</div>
<div class="gallery">
  <a target="_blank">
    <img src="assets/img/12.jpg" alt="Couldn't load image" width="600" height="400">
  </a>
</div>
<div class="gallery">
  <a target="_blank">
    <img src="assets/img/13.jpg" alt="Couldn't load image" width="600" height="400">
  </a>
</div>
<div class="gallery">
  <a target="_blank">
    <img src="assets/img/14.jpg" alt="Couldn't load image" width="600" height="400">
  </a>
</div>
<div class="gallery">
  <a target="_blank">
    <img src="assets/img/15.jpg" alt="Couldn't load image" width="650" height="400">
  </a>
</div>

</ion-content>
