.header{
    --background: rgb(85, 79, 79);
    color: rgb(27, 27, 26);
}
p{
    
    font-size: 20px;
    font-family: oblique;
    font-style: unset;
    background: rgb(54, 53, 53);
    text-align: center;
    color: bisque;
}
ion-img{
    margin-left: 27%;
    height: 300px;
    width: 700px;
    background-color: rgb(59, 58, 58);
    color: rgb(92, 100, 100);
}