<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title>
      <center><b><h1>Profile</h1></b></center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-toolbar class="images">
  <ion-img src="assets/img/profile.jpg"></ion-img>
</ion-toolbar>

<ionic-toolbar>
  <p>Name: Aruta Anthony</p>
  <p>Address: Brgy. Canal Carigara, Leyte</p>
  <p>Age: 22 years old</p>
  <p>Birthday: August 24, 1998</p>
  <p>Gender: Male</p>
  <p>Status: Single</p>
  <p>Religion: Roman Catholic</p>
</ionic-toolbar>
 
</ion-content>