.top{
    --background: rgb(110, 103, 103);
    color: rgb(27, 27, 26);
    text-align: center;
}
big{
    font-size: 40px;
    margin-left: 25px;
    color: black;
}
ion-card{
    margin-left: 175px;
    width: 80%;
    margin-bottom: 10px;
}
ion-card:hover{
    border: 1px solid burlywood;
    width: 80%;
    

}
ion-card-content{
    background: rgb(51, 49, 49);
    width: 100%;
    height: 100%;
}
ion-list{

 
    background: rgb(34, 33, 32);
}
